<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    {% block link %}{% endblock link %}
</head>
<body>

    <header>

        <div class="login">
            {% block header1 %}
            {% if user %}
            <a href="/LogOut">{{user}}</a>
            {%else%}
            <a href="/Login">LOGIN</a>
            {% endif %}

            {% endblock header1 %}
        </div>

        <div class="logo">
            {% block header2 %}
            {% endblock header2 %}
        </div>

        <div class="cart">
            {% block header3 %}
            <a href="{{url_for('Cart')}}"><img class="cart-image"
                    src="{{ url_for('static', filename='img/carro.png')}}" alt="carrito-de-la-compra"></a>
            {% endblock header3 %}
        </div>

    </header>

    <div class="container">

        <div class="navigation-menu">
            
            {% block principal %}
            <div class="volver-principal">
                <a class="volver" href="/"><img class="home-image" src="{{url_for('static',filename='img/home.png')}}" alt="pagina-principal"></a>
            </div>
            {% endblock principal %}
            
            {% block menu %}
            {% endblock menu %}
        </div>

        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>
    </div>

    <footer>Copyright</footer>
</body>

</html>