{% extends "index.html" %}

{% block title %}Film{% endblock title%}

{% block header2 %}
FILM
{% endblock header2 %}

{% block content %}
<div class="film-detail">
    
    <div class="film-detail-poster">
        <img class="film-detail-image" src="{{ url_for('static', filename=movie.poster)}}">
    </div>
    
    <div class="film-detail-text">
        <ul>
            <li>Titulo: {{movie.titulo}}</li>
            <li>Director: {{movie.director}}</li>
            <li>Precio: {{movie.precio}}</li>
            <li>Categoria: {{movie.categoria}}</li>
            <li>Año: {{movie.año}}</li>
            <li>Actores:</li>
            {% for actor in actors %}
            <li>Nombre: {{actor.nombre}}</li>
            <li>Personaje: {{actor.personaje}}</li>
            <li>Foto:<br><img class="actor-image" src="{{url_for('static', filename=actor.foto)}}"></li>
            {% endfor%} 
        </ul>
    </div>

    <div class="add-to-cart">
        <script src="{{ url_for('static', filename='js/addMovie.js')}}"></script>
        <input class="add-to-cart-button" type="submit" value="Add to Cart" onclick="AddMovie('{{movie.id}}')">
    </div>
</div>
{% endblock content %}