{% extends 'index.html' %}
{% block header2 %}HISTORIAL{% endblock header2 %}
{% block link %}<script src="{{url_for('static', filename='js/saldo.js')}}"></script>{% endblock link %}

{% block content %}
<div class="historial">

    <div class="saldo">
        <label class="ver-saldo" id="ver-saldo" for="saldo-actual">Saldo actual: {{saldo}}&nbsp</label>
        <input class="saldo-nuevo" type="text" name="saldo" id="saldo-nuevo" value="">&nbsp
        <input class="saldo-submit" type="button" value="Añadir" name="saldo" id="saldo" onclick="AumentarSaldo()">
        <input class="hidden-saldo" type="text" id="saldo-actual" value="{{saldo}}">
    </div>

    <div class="container-table">
        <table class="table">
        
        <tr> 
            <th>ID</th>
            <th>DIRECTOR</th>
            <th>CATEGORIA</th>
            <th>AÑO</th>
        </tr>
        {% for movie in historial %}
        <tr> 
            <td>{{movie.id}}</td>
            <td>{{movie.director}}</td>
            <td>{{movie.categoria}}</td>
            <td>{{movie.año}}</td>
        </tr>
        {% endfor %}
        </table>
    </div>

</div>

{% endblock content %}